---
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
import AccordionItem from "../ui/AccordionItem.astro";

const content = [
	{
		index: 1,
		title: "Monthly Rewards",
		description:
			"Every month, $CLANKSTER holders receive rewards based on their share of the total supply.",
	},
	{
		index: 2,
		title: "Airdrops from New Projects",
		description:
			"Whenever we launch a new project — like Jackpot — you’ll receive exclusive airdrops of those project tokens. We’re focusing on sharing the excitement of what’s next, not Clankster tokens themselves.",
	},
	{
		index: 3,
		title: "Extra Rewards for Loyalty",
		description:
			"The more loyal and engaged you are with Clankster, the more you’ll earn. Special bonuses and additional drops are reserved for our most dedicated supporters as we grow together.",
	},
];

const description =
	"Clankster is designed to empower holders, support innovation, and grow the Clanker ecosystem, creating a sustainable and rewarding experience for the community.";
---

<Section id="about">
	<div class="mt-20 mb-5">
		<SectionTitle
			sectionTitle="How Clankster Works"
			description={description}
			classes={{
				description: "sm:w-full",
			}}
		/>
		{
			content.map((item) => {
				return (
					<AccordionItem
						index={item.index}
						title={item.title}
						description={item.description}
					/>
				);
			})
		}
	</div>
</Section>
