---
import Form from "../ui/Form.astro";
import SectionTitle from "../ui/SectionTitle.astro";
import Section from "./Section.astro";
---

<Section id="contact">
	<div class="relative mt-20 mb-[140px]">
		<SectionTitle
			sectionTitle="Contact Us"
			description="Don’t hesitate to write to us, We might clank together!"
			classes={{ description: "sm:w-64" }}
		/>
		<Form />
	</div>
</Section>
