---
import { Image } from "astro:assets";
import Card from "../ui/Card.astro";
import Section from "./Section.astro";

const cards = [
	{
		index: 0,
		title:
			"Clanker is the backbone of the ecosystem, providing the tools and infrastructure needed to easily deploy ERC-20 tokens. It simplifies token creation, liquidity setup, and trade mechanisms, making it accessible for anyone to build and launch their ideas.",
		link: "https://google.com",
	},
	{
		index: 1,
		title:
			"Clank Fun serves as the ecosystem’s intuitive UI and launchpad. It provides a user-friendly platform for deploying and trading Clanker-based tokens while giving creators and holders a space to interact, monitor performance, and explore new opportunities within the ecosystem.",
		link: "https://google.com",
	},
	{
		index: 1,
		title:
			"Clankster fuels innovation by supporting projects within the Clanker ecosystem. It offers funding and liquidity to creators, while $CLANKSTER holders benefit from airdrops of newly launched tokens, rewards for loyalty, and ecosystem growth. Clankster ensures that both builders and holders thrive.",
		link: "https://google.com",
	},
];

import larrow from "../../assets/icon3.svg";
import SectionTitle from "../ui/SectionTitle.astro";
---

<Section id="cases">
	<SectionTitle
		sectionTitle="Clanker Ecosystem"
		description="Together, the Clanker ecosystem provides everything needed to create, launch, and grow innovative projects, empowering a new wave of decentralized builders and communities."
		classes={{
			description: "sm:w-[560px]",
		}}
	/>
	<div
		class="bg-dark flex flex-col justify-between divide-violet-600 rounded-[45px] p-[60px] lg:flex-row"
	>
		{
			cards.map((card) => (
				<>
					<Card>
						<div class="text-gray m-[1px] flex h-full">
							<div class="flex flex-col gap-5">
								<p class="text-lg">{card.title}</p>
								<a href={card.link} class="flex items-center gap-[15px]">
									<span class="text-green text-xl">Learn more</span>
									<picture>
										<Image src={larrow} alt="Arrow pointing up right" />
									</picture>
								</a>
							</div>
						</div>
					</Card>
					<div
						aira-hidden={true}
						class:list={[
							"border-white last:hidden",
							"my-16 border-b lg:my-0 lg:border-b-0",
							"lg:mx-16 lg:h-47 lg:border-r",
						]}
					/>
				</>
			))
		}
	</div>
</Section>
