---
import Section from "./Section.astro";
import { Image } from "astro:assets";
import HeroIlust from "../../assets/pics/hero.svg";
---

<Section id="home">
	<div
		class="relative flex flex-col-reverse items-center md:flex-row"
		id="hero"
	>
		<div class="row items-center py-5 md:w-6/12 md:pt-10 md:pb-20">
			<div class="space-y-3 text-left">
				<h1
					class="text-center text-4xl leading-none font-medium md:text-left md:text-6xl"
				>
					Rewards for <br /> Holders, Fuel for <br /> Creators.
				</h1>
				<p
					class="mt-6 mb-8 text-center text-lg leading-7 font-normal sm:mb-12 md:pr-12 md:text-left"
				>
					Clankster is the first Clanker token with monthly airdrops, designed
					to reward token holders while fostering community growth, innovation,
					and collaboration.
				</p>
				<div
					class="inline-flex w-full items-center justify-center md:justify-start"
				>
					<a
						href="https://github.com/manulthanura/Positivus"
						target="_blank"
						class="rounded-2xl border bg-zinc-900 px-8 py-5 text-center text-xl leading-7 font-normal text-white hover:bg-white hover:text-black"
						>Buy $CLANKSTER
					</a>
				</div>
			</div>
		</div>
		<div class="flex items-center py-5 md:w-6/12 md:pt-10 md:pb-20">
			<Image src={HeroIlust} alt="Hero Ilustration" loading="eager" />
		</div>
	</div>
</Section>
