---
import MainLayout from "../layouts/MainLayout.astro";
import { Image } from "astro:assets";
import propImg from "../assets/pics/proposal-pic.png";
import Card from "../components/ui/Card.astro";
import Section from "../components/sections/Section.astro";
---

<Section>
	<MainLayout title="Roadmap" showFooter={false}>
		<div class="mb-[140px] flex flex-col gap-6 py-20 text-center text-lg">
			<p>Roadmap:</p>
			<p>
				Clankster supports creators and individuals who shine a spotlight on the
				Clanker ecosystem, fostering creativity and rewarding those who actively
				engage and contribute.
			</p>
			<p>
				Clankster is introduced as a helping hand for Clanker, which serves as
				the tech provider, and Clank.fun, which provides tools for deployment
				and management. Clankster fuels potential projects that want to get
				involved with the Clanker ecosystem by offering resources, guidance, and
				direct support to ensure their success.
			</p>
			<p>
				For example, if a supported token gains massive traction, the proceeds
				from its first month of sales are airdropped to $CLANKSTER holders. This
				ensures that everyone benefits from the success of new projects.
			</p>
			<p>
				And we’re not stopping here—Clankster is constantly refining and
				advancing to support more creative ideas, reward contributors, and
				strengthen the ecosystem with every step.
			</p>
			<p>
				Clankster is the bridge between creativity and rewards. We empower
				creators, support the Clanker ecosystem, and reward loyal holders with
				real returns, ensuring every idea and every investment contributes to
				something greater.
			</p>
			<p>
				Clank with purpose.<br />Build with purpose.
			</p>
		</div>

		<Card>
			<div
				class="relative mb-[163px] flex rounded-[45px] bg-[#F3F3F3] p-[60px]"
			>
				<div class="flex w-full flex-col gap-[26px] md:w-[50%]">
					<h2 class="text-[2.375rem] font-medium">Hold Bigger, Earn Bigger</h2>
					<p class="text-lg">
						Clankster’s airdrop mechanism requires users to register their
						wallets with a one-time signature, track their holdings throughout
						the month, and claim proportional rewards based on their average
						token balance at the end of each month.
					</p>
					<a
						href="https://www.clanker.world/clanker/0x3E1A6D23303bE04403BAdC8bFF348027148Fef27"
						target="_blank"
						class="btn-primary"
					>
						Buy $CLANKSTER
					</a>
				</div>
				<picture
					class="absolute top-[-15%] right-[-10%] hidden h-[450px] items-center justify-center md:flex lg:right-0"
				>
					<Image
						src={propImg}
						alt="This is an illustration"
						class="hidden md:flex lg:h-full lg:w-auto"
					/>
				</picture>
			</div>
		</Card>
	</MainLayout>
</Section>
