---
import { Image } from "astro:assets";
import LogoDark from "../../assets/logo-dark.svg";
import ShortForm from "../ui/ShortForm.astro";

const links = [
	{ name: "Roadmap", href: "/roadmap" },
	{
		name: "Clank.fun",
		href: "https://clank.fun/t/0x3e1a6d23303be04403badc8bff348027148fef27",
	},
	{
		name: "DexScreener",
		href: "https://dexscreener.com/base/0xd845a57e8c7cc7579c9c06fa05f638aceb7bf16a",
	},
	{ name: "CoinGecko", href: "https://www.coingecko.com/en/coins/clankster" },
];
---

<section class="sm:px-5">
	<div class="mx-auto w-full max-w-[1240px]">
		<div
			class="bg-dark text-gray px-[15px] py-[55px] sm:rounded-t-[45px] lg:px-[60px]"
		>
			<div>
				<div class="flex flex-col items-center gap-7 lg:flex-row lg:gap-40">
					<picture>
						<a href="#home">
							<Image src={LogoDark} alt="Clankster" />
						</a>
					</picture>
					<ul class="flex flex-col gap-5 sm:flex-row">
						{
							links.map((link) => {
								return (
									<li class="text-center">
										<a href={link.href} class="text-lg">
											{link.name}
										</a>
									</li>
								);
							})
						}
					</ul>
				</div>

				<div class="mt-[66px] mb-[51px] flex flex-col lg:flex-row">
					<div
						class="flex w-full flex-col text-center lg:w-[30%] lg:text-start"
					>
						<h3
							class="bg-green text-dark mb-5 w-fit rounded-lg px-2 text-center text-xl font-medium md:text-left"
						>
							Contact us:
						</h3>
						<div class="flex flex-col justify-between gap-5 text-lg">
							<span>
								Email: <a href="mailto:clanksteronbase@gmail.com">
									clanksteronbase@gmail.com
								</a>
							</span>
							<span>
								<a href="https://app.deform.cc/clanksteronbase">
									app.deform.cc/clanksteronbase
								</a>
							</span>
							<span class="lg:w-3/4">
								<a href="https://x.com/clanksteronbase">
									x.com/clanksteronbase
								</a>
							</span>
						</div>
					</div>
					<div class="my-10 grow lg:my-0 lg:ml-12">
						<ShortForm />
					</div>
				</div>
			</div>

			<div class="bg-gray mb-12 h-[1px]"></div>
			<div class="text-lg max-md:text-center">© 2025 Clankster.</div>
		</div>
	</div>
</section>
